h1{

background-color:brown;
}
h1{
  
<<<<<<< HEAD
background-color:green; 
}
p{

    background-color: blue;
=======
 background-color:green; 
}
p{

<<<<<<< HEAD
    background-color: blackgit ;
>>>>>>> ttt
=======
    background-color: black;
>>>>>>> ttt
}
